
@{
    ViewBag.Title = "Error: Đâm đầu vào tường";
    Layout = "~/Views/Shared/Error.cshtml";
}

<div class="error-page" style="background-image: url('@(ViewBag.BackgroundURL == null? "/Data/System/Images/img_error.png": ViewBag.BackgroundURL)');">
    <div class="error-page__content">
        <div class="error-page__title">
            <p class="error-page__title-1">Trình duyệt của bạn vừa lầm đường lạc lối!</p>
        </div>
        <div class="error-page__button">
            <button type="button" class="btn btn-primary btn-animation" onclick="GoHome(this)">
                Quay đầu là bờ
            </button>
        </div>
    </div>
</div>

<script>
    function GoHome(ele) {
        window.location.replace("/");
    }
</script>

