@using DoAn_CSDL.Shared
@{
    ViewBag.Title = "Cập nhật nhà cung cấp";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

    bool isAdmin = (Session[Constants.UserRole_SessionName] == null) ? false : Session[Constants.UserRole_SessionName].Equals(0);
    int id = SharedFunction.ParseID(Request["id"]);
}

<div class="main__content">
    <h1 class="main__title">CẬP NHẬT NHÀ CUNG CẤP</h1>

    <div class="card">
        <p class="card-title">Thông tin nhà cung cấp:</p>
        <div class="card-body">
            <form class="form-group custom-form" id="input-form" onsubmit="return false;">
                <div class="row">
                    @*<div class="col-12 col-sm-8 col-md-6 form-group position-relative">
                            <label for="file_avatar">Ảnh đại diện:</label>
                            <img src="~/Data/System/Images/default_image.jpg" class="mt-1 mb-3 img-detail" onclick="ShowImage(this)" id="avatar-review" />
                            <input type="text" name="txt_ImgName" id="txt_ImgName" class="form-control" hidden />
                            <label class="custom-input-file" id="file_Image">
                                <input type="file" name="file_Upload" class="form-control-file" accept="image/*" onchange="SingleImageChange(this)" />
                                <input type="text" class="form-control" placeholder="Chọn tệp. . . " tabindex="-1" />
                                <span>File browser</span>
                            </label>
                        </div>
                        <div class="col-4 d-none d-sm-block"></div>*@

                    <div class="col-12 col-sm-4 col-md-3 form-group position-relative">
                        <label for="txt_ID">Mã nhà cung cấp:</label>
                        <input type="text" name="txt_ID" id="txt_ID" class="form-control" autocomplete="off" maxlength="500" value="@id" readonly />
                    </div>
                    <div class="col-8 d-none d-sm-block"></div>

                    <div class="col-12 col-sm-8 col-md-6 form-group position-relative">
                        <label for="txt_Ten">Tên nhà cung cấp<span class="required">*</span>:</label>
                        <input type="text" name="txt_Ten" id="txt_Ten" class="form-control" autocomplete="off" maxlength="200" autofocus />
                    </div>

                    <div class="col-12 col-md-8 form-group position-relative">
                        <label for="txt_DiaChi">Địa chỉ:</label>
                        <input type="text" name="txt_DiaChi" id="txt_DiaChi" class="form-control" autocomplete="off" maxlength="300" />
                    </div>
                    <div class="col-4 d-none d-md-block"></div>

                    <div class="col-12 col-sm-6 col-lg-4 form-group position-relative">
                        <label for="txt_SDT">Số điện thoại<span class="required">*</span>:</label>
                        <input type="text" name="txt_SDT" id="txt_SDT" class="form-control" autocomplete="off" maxlength="11" placeholder="VD: 0964062210" />
                    </div>
                    <div class="col-6 d-none d-md-block"></div>

                    <div class="col-12 col-sm-8 col-md-6">
                        <label for="txt_NganHang">Ngân hàng<span class="required">*</span>:</label>
                        <input type="text" name="txt_NganHang" id="txt_NganHang" class="form-control" autocomplete="off" maxlength="100" />
                    </div>
                    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                        <label for="txt_STK">Số tài khoản<span class="required">*</span>:</label>
                        <div class="d-flex">
                            <input type="text" name="txt_STK" id="txt_STK" class="form-control" autocomplete="off" maxlength="20" placeholder="VD: 033200004347" />
                        </div>
                    </div>

                    <div class="col-12 col-sm-4 col-lg-3 @Html.Raw(isAdmin? "": "d-none")">
                        <label for="sel_DaiDien">Người đại diện<span class="required">*</span>: </label>
                        <select name="sel_DaiDien" id="sel_DaiDien" class="form-control">
                            <option value="-1">-- Chọn người đại diện --</option>
                            <!---->
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-bottom">
            <p class="card-bottom__note" id="card-note"><strong>Lưu ý:</strong> Những trường có dấu <span class="required">*</span> bắt buộc phải có giá trị!</p>
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-success custom-btn-func" onclick="Edit()">
            <i class="fas fa-sync"></i> Cập nhật dữ liệu
        </button>
    </div>
</div>

<script>
    var editObj;
    const ctrl_Name = "/NhaCungCap/";
    loadingCount = 0;

    function FillData(obj) {
        $('#txt_Ten').val(obj.Ten);
        $('#txt_DiaChi').val(obj.DiaChi);
        $('#txt_SDT').val(obj.SDT);
        $('#txt_STK').val(obj.STK);
        $('#txt_NganHang').val(obj.NganHang);
    }

    function GetObject() {
        let id = $('#txt_ID').val();
        ShowLoading();

        $.ajax({
            url: ctrl_Name + "GetDetail",
            method: "POST",
            data: { id },
            success: function (result, status, xhr) {
                let rs = JSON.parse(result);

                if (rs.ErrCode == 2) {
                    editObj = rs.Data;
                    FillData(editObj);
                    GetListDaiDien();
                }
                else if (rs.ErrCode == 0) {
                    ShowFailMessage("Có lỗi xảy ra trong quá trình lấy dữ liệu, vui lòng thử lại sau ít phút!");
                }
                else {
                    ShowFailMessage(rs.Des);
                }
            },
            error: function () {
                ShowFailMessage("Mất kết nối với máy chủ!");
            }
        }).always(function () {
            CheckLoadingCount();
        });
    }

    function GetListDaiDien() {
        ShowLoading();

        $.ajax({
            url: "/TaiKhoan/GetListCombobox",
            method: "POST",
            data: {role: "nhacungcap"},
            success: function (result, status, xhr) {
                let rs = JSON.parse(result);
                console.log("List tai khoan: ", rs);

                let htmlResult = "<option value='-1'>-- Chọn người đại diện --</option>"
                if (rs.ErrCode == 2) {
                    rs.Data.forEach((item) => {
                        htmlResult += "<option value='" + item.Data + "'" + ((item.Data == editObj.TaiKhoanID)? "selected": "") + ">" + item.DisplayData + "</option>";
                    });
                }
                else {
                    //Error
                }
                $('#sel_DaiDien').html(htmlResult);
            },
            error: function () {
                //
            }
        }).always(function () {
            CheckLoadingCount();
        });
    }

    function Edit() {
        //Reset biến kiểm tra:
        hasFocus = false;

        let Ten = $('#txt_Ten');
        let Ten_val = Ten.val();
        if (Ten_val.length == 0) {
            TryFocus(Ten, "Không được để trống tên hệ thống!");
        }
        else if (Ten_val.length > 200) {
            TryFocus(Ten, "Tên hệ thống không vượt quá 200 ký tự!");
        }

        let DiaChi = $('#txt_DiaChi');
        let DiaChi_val = DiaChi.val();
        if (DiaChi_val.length == 0) {
            TryFocus(DiaChi, "Không được để trống địa chỉ!");
        }
        else if (DiaChi_val.length > 300) {
            TryFocus(DiaChi, "Địa chỉ không vượt quá 300 ký tự!");
        }

        let SDT = $('#txt_SDT');
        let SDT_val = SDT.val();
        if (SDT_val.length == 0) {
            TryFocus(SDT, "Không được để trống số điện thoại!");
        }
        else if (SDT_val.length > 11) {
            TryFocus(SDT, "Số điện thoại không vượt quá 11 ký tự!");
        }
        else if (!ValidSDT(SDT_val)) {
            TryFocus(SDT, "Số điện thoại chỉ chứa các ký tự 0-9!");
        }

        let NganHang = $('#txt_NganHang');
        let NganHang_val = NganHang.val();
        if (NganHang_val.length == 0) {
            TryFocus(NganHang, "Không được để trống tên ngân hàng!");
        }
        else if (NganHang_val.length > 200) {
            TryFocus(NganHang, "Tên ngân hàng không vượt quá 200 ký tự!");
        }

        let STK = $('#txt_STK');
        let STK_val = STK.val();
        if (STK_val.length == 0) {
            TryFocus(STK, "Không được để trống tài khoản!");
        }
        else if (STK_val.length > 11) {
            TryFocus(STK, "Số tài khoản không vượt quá 11 ký tự!");
        }
        else if (!ValidSDT(STK_val)) {
            TryFocus(STK, "Số tài khoản chỉ chứa các ký tự 0-9!");
        }

        //let DaiDien = $('#sel_DaiDien');
        //let DaiDien_val = DaiDien.val();
        //if (DaiDien_val == null || DaiDien_val == undefined || DaiDien_val < 0) {
        //    TryFocus(DaiDien, "Không được để trống người đại diện!");
        //}

        //Khi dữ liệu đã đúng:
        if (!hasFocus) {
            ShowUIContent("Xác nhận cập nhật dữ liệu?");
        }
    }

    $(function () {
        GetObject();

        $('.UI-accept').click(function () {
            UIContentToLoading();

            let form = $('#input-form')[0];
            let dataForm = new FormData(form);

            $.ajax({
                url: ctrl_Name + "PostEdit",
                method: "POST",
                processData: false,
                contentType: false,
                data: dataForm,
                success: function (result, status, xhr) {
                    let rs = JSON.parse(result);
                    console.log("Edit result:", rs);
                    if (rs.ErrCode == 2) {
                        ShowUIBlock();
                        ShowSuccessMessage("Cập nhật dữ liệu thành công, tự động chuyển hướng sau khi hết thông báo!", function () { window.location.replace(ctrl_Name + "Detail?id=" + editObj.ID); });
                    }
                    else if (rs.ErrCode == 0) {
                        ShowFailMessage("Có lỗi xảy ra trong quá trình cập nhật dữ liệu!");
                    }
                    else {
                        ShowFailMessage(rs.ErrDes);
                    }
                },
                error: function (xhr, status, error) {
                    ShowFailMessage("Mất kết nối với máy chủ, vui lòng thử lại sau ít phút!");
                }
            }).always(function () {
                HideLoading();
            });
        });
    });

    function SingleImageChange(ele) {
        let image = ele.files[0];
        let src = (image != null && image != undefined) ? URL.createObjectURL(image) : errorImagePath;
        $('#avatar-review').prop("src", src);
        $('#txt_ImgName').val($(ele).val().split('\\').pop());
    }
</script>
