
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="main__inner">
    <div class="main__content work-follow__container position-relative">
        <h2 class="main__title">Dashboard <span id="filter-time"></span></h2>
        <div class="work-follow__filter">
            <button type="button" class="btn btn-primary custom-btn-func" onclick="ToggerFilter(this)">
                <i class="fas fa-filter"></i> Lọc
            </button>
            <div class="work-follow__filter-option">
                <h2 class="main__title">Điều kiện lọc</h2>
                <form class="form-group custom-form">
                    <div class="row">
                        <div class="col-12 position-relative form-group">
                            <label for="txt_StartTime">Ngày bắt đầu:</label>
                            <input type="date" name="txt_StartTime" id="txt_StartTime" class="form-control" />
                        </div>
                        <div class="col-12 position-relative form-group">
                            <label for="txt_EndTime">Ngày kết thúc:</label>
                            <input type="date" name="txt_EndTime" id="txt_EndTime" class="form-control" />
                        </div>
                        <div class="col-12 d-flex justify-content-end">
                            <button type="button" class="btn btn-primary custom-btn-func" onclick="GetDashBoardData()">
                                <i class="fas fa-filter"></i> Bắt đầu lọc
                            </button> 
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="work-follow" id="wf-hd">
            <h2 class="work-follow__title">HỢP ĐỒNG</h2>
            <table class="table table-bordered work-follow__table">
                <tbody>
                    <tr>
                        <td>
                            <a href="/HopDong/Index" class="work-follow__link">
                                <div>
                                    <div class="work-follow__number">
                                        <p id="hd-sum">0</p>
                                    </div>
                                    <div class="work-follow__text">
                                        <p>Hợp đồng đã được tạo</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="/HopDong/Index?trangthai=0" class="work-follow__link">
                                <div>
                                    <div class="work-follow__number">
                                        <p id="hd-wait">0</p>
                                    </div>
                                    <div class="work-follow__text">
                                        <p>Hợp đồng trong quá trình vận chuyển</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="/HopDong/Index?trangthai=1" class="work-follow__link">
                                <div>
                                    <div class="work-follow__number">
                                        <p id="hd-done">0</p>
                                    </div>
                                    <div class="work-follow__text">
                                        <p>Hợp đồng đã hoàn thành</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="work-follow" id="yc-wf">
            <h2 class="work-follow__title">YÊU CẦU SUẤT HÀNG</h2>
            <table class="table table-bordered work-follow__table">
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <a href="/PhieuXuat/Index" class="work-follow__link">
                                    <div>
                                        <div class="work-follow__number">
                                            <p id="yc-sum">0</p>
                                        </div>
                                        <div class="work-follow__text">
                                            <p>Yêu cầu đã được tạo</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </td>
                        <td>
                            <a href="/PhieuXuat/Index?trangthai=0" class="work-follow__link">
                                <div>
                                    <div class="work-follow__number">
                                        <p id="yc-wait">0</p>
                                    </div>
                                    <div class="work-follow__text">
                                        <p>Yêu cầu chờ phê duyệt</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="/HopDong/Index?trangthai=1" class="work-follow__link">
                                <div>
                                    <div class="work-follow__number">
                                        <p id="yc-check">0</p>
                                    </div>
                                    <div class="work-follow__text">
                                        <p>Yêu cầu trong quá trình vận chuyển</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="/PhieuXuat/Index?trangthai=2" class="work-follow__link">
                                <div>
                                    <div class="work-follow__number">
                                        <p id="yc-done">0</p>
                                    </div>
                                    <div class="work-follow__text">
                                        <p>Yêu cầu đã hoàn thành</p>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function FillDashBoardData(obj) {
        $('#hd-sum').text(obj.TongSoHD);
        $('#hd-wait').text(obj.TongSoHDCho);
        $('#hd-done').text(obj.TongSoHDHoanThanh);

        $('#yc-sum').text(obj.TongSoYC);
        $('#yc-wait').text(obj.TongSoYCCho);
        $('#yc-check').text(obj.TongSoYCPheDuyet);
        $('#yc-done').text(obj.TongSoYCHoanThanh);
    }

    function GetDashBoardData() {
        ShowLoading();
        let txt_StartTime = $('#txt_StartTime').val();
        let txt_EndTime = $('#txt_EndTime').val();

        let filterTime = "";
        if (!MyString.IsNullOrEmpty(txt_StartTime)) {
            filterTime += "[" + txt_StartTime;
        }
        else {
            filterTime += "[ * ";
        }
        filterTime += " đến ";
        if (!MyString.IsNullOrEmpty(txt_EndTime)) {
            filterTime += txt_EndTime + "]";
        }
        else {
            filterTime += " * ]";
        }
        $('#filter-time').text(filterTime);

        $.ajax({
            url: "/Home/GetDashBoardData",
            method: "POST",
            data: {txt_StartTime, txt_EndTime},
            success: function (result, status, xhr) {
                console.log(result);
                let rs = JSON.parse(result);
                console.log("Dashboard: ", rs);

                if (rs.ErrCode == 2) {
                    FillDashBoardData(rs.Data);
                }
                else if (rs.ErrCode == 0) {
                    ShowFailMessage("Có lỗi xảy ra trong quá trình lấy dữ liệu DashBoard!");
                }
                else {
                    ShowFailMessage(rs.ErrDes);
                }
            },
            error: function () {
                ShowFailMessage("Mất kết nối với máy chủ!");
            }
        }).always(function () {
            HideLoading();
        });
    }

    function ToggerFilter(ele) {
        let wf = $(ele).parent();
        if (wf.hasClass("active")) {
            wf.removeClass("active");
        }
        else {
            wf.addClass("active");
        }
    }

    $(function () {
        GetDashBoardData();
    });
</script>