<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | LTH's Kho - Đẳng cấp quản lý kho</title>
    
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Error/CustomError.css" />
</head>
<body>
    @RenderBody()
</body>
</html>
