<div class="UI-container UI-show" id="UI-loading">
    <div class="UI-loading">
        <div class="loading-icon">
            <!-- <div class="spinner-border text-info"></div> -->
            <div class="load-dots">
                <div class="load-dot" style="--dot-pos: 1"></div>
                <div class="load-dot" style="--dot-pos: 2"></div>
                <div class="load-dot" style="--dot-pos: 3"></div>
                <div class="load-dot" style="--dot-pos: 4"></div>
                <div class="load-dot" style="--dot-pos: 5"></div>
                <div class="load-dot" style="--dot-pos: 6"></div>
                <div class="load-dot" style="--dot-pos: 7"></div>
                <div class="load-dot" style="--dot-pos: 8"></div>
                <div class="load-dot" style="--dot-pos: 9"></div>
                <div class="load-dot" style="--dot-pos: 10"></div>
                <div class="load-dot" style="--dot-pos: 11"></div>
                <div class="load-dot" style="--dot-pos: 12"></div>
                <div class="load-dot" style="--dot-pos: 13"></div>
                <div class="load-dot" style="--dot-pos: 14"></div>
            </div>
        </div>
        <div class="loading-text">Đang tải, vui lòng chờ...</div>
    </div>
</div>

<div class="UI-container" id="UI-content">
    <div class="UI-content">
        <div class="UI-text-content">
            <p class="message">Xác nhận lưu?</p>
        </div>
        <div class="UI-button-content">
            <button type="button" class="btn btn-danger UI-cancel">
                <i class="fas fa-times"></i> Hủy bỏ
            </button>
            <button type="button" class="btn btn-success UI-accept">
                <i class="fas fa-check"></i> Xác nhận
            </button>
        </div>
    </div>
</div>

<div class="UI-message">
    @*<div class="UI-success">
        <div class="message__content">
            <div class="message-icon">
                <i class="fas fa-check-circle"></i>
            </div>
            <div class="message-text">
                <p>Đây là nội dung thông báo</p>
            </div>
        </div>
        <div class="message__progress progress">
            <div class="progress-bar" style="width: 70%"></div>
        </div>
    </div>

    <div class="UI-fail">
        <div class="message__content">
            <div class="message-icon">
                <i class="fas fa-times-circle"></i>
            </div>
            <div class="message-text">
                <p>Đây là nội dung thông báo Đây là nội dung thông báo Đây là nội dung thông báo Đây là nội dung thông báo Đây là nội dung thông báo Đây là nội dung thông báo</p>
            </div>
        </div>
        <div class="message__progress progress">
            <div class="progress-bar" style="width: 50%"></div>
        </div>
    </div>*@
</div>

<div class="UI-image">
    <div>
        <img src="#" />
    </div>
    <button type="button" class="btn" onclick="UIHideImage()">
        <i class="fas fa-times"></i>
    </button>
</div>
