html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #495057;
}
*{
    scroll-behavior: smooth;
}
*:focus-visible{
    outline: 1px solid lightblue;
}
/* */
a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

/* */
:root {
    /* Dark mode if i can */
    --half-dark: rgba(0, 0, 0, 0.7);
    --half-light: rgba(0, 0, 0, 0.05);
    --normal-font-size: 1.65rem;
    --normal-button-padding: 0.7rem 2rem;
    /* header variable */
    --header-background: white;
    --header-element-background: rgb(235, 235, 235);
    --header-height: 6rem;
    --header-max-width: auto;
    --header--button-width: 4rem;
    --header--button-height: 4rem;
    --header--hide-content-width: 25rem;
    --header--hide-content-height: 35rem;
    --header--hide-content-top: 6rem;
    
    /* */
    --normal-border-radius: .3rem;
    --normal-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* header */
header {
    background-color: var(--header-background);
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 10;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    max-width: var(--header-max-width);
    width: 100%;
    padding: 0;
}

.nav-header .navbar-nav{
    align-items: center;
}

/* button */
.btn-header {
    font-size: 1.6rem;
    width: var(--header--button-width);
    height: var(--header--button-height);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    transition: 0.1s;
}

.btn:focus {
    box-shadow: none;
}

.btn-round {
    border-radius: 50%;
    overflow: hidden;
}

/* logo */
.header-logo{
    margin-right: 2rem;
    min-width: 13rem;
    text-align: center;
}
.header-logo img{
    width: auto;
    height: calc(var(--header-height) - 1rem);
}

/* button menu */
.btn-menu {
    font-size: 2.5rem;
    color: gray;
    margin-right: 5rem;
    margin-left: 0;
}

/* button search */
.search {
    position: relative;
}

.form-search-header {
    margin: 0;
    background-color: rgb(217, 236, 243);
    border-radius: 15rem;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

    .form-search-header input {
        width: 0;
        height: var(--header--button-height);
        font-size: 1.8rem;
        border: 0;
        padding: 0;
        background-color: transparent;
        transition: 0.25s ease-in-out;
    }

        .form-search-header input.form-control:focus {
            box-shadow: none;
            background-color: transparent;
        }

.nav-header .btn-search {
    color: rgb(37, 68, 109);
    margin: 0;
}

.form-search-active input.form-control {
    width: 28rem;
    padding-right: 2rem;
}

.form-search-active .btn-search {
    color: rgb(75, 125, 182);
    transform: rotateZ(90deg);
}

.search-result {
    position: absolute;
    top: var(--header--hide-content-top);
    left: 0;
    width: 100%;
    min-height: 10rem;
    padding: .5rem 1rem;
    background-color: white;
    border-radius: var(--normal-border-radius);
    box-shadow: var(--normal-box-shadow);

    opacity: 0;
    visibility: hidden;
    transform: translateY(4rem);
    transition: 0.2s ease-in-out;
}

    .search-result a {
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        display: block;
        height: 8rem;
        width: 100%;
        color: rgb(37, 37, 37);
    }

        .search-result a:hover {
            background-color: rgb(184, 228, 243);
        }

.result-active {

}

    .result-active .search-result {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

/* button notify */
.noti__container {
    position: relative;
}

    .noti__container .btn {
        color: white;
        position: relative;
        overflow: visible;
        background-color: rgb(255, 128, 149);
    }

    .noti__container p.num {
        position: absolute;
        bottom: -.7rem;
        right: -.7rem;
        margin: 0;
        color: white;
        background-image: linear-gradient(to top right, #dc3545, white);
        width: 2rem;
        height: 2rem;
        font-size: 1.5rem;
        border-radius: 50%;
    }

    .noti__container .btn:hover, .noti-active .btn {
        color: rgb(223, 94, 116);
        background-color: var(--header-element-background);
    }

.noti__main {
    width: 34rem;
    /* min-height: 48rem; */
    background-color: white;
    box-shadow: var(--normal-box-shadow);
    position: absolute;
    top: var(--header--hide-content-top);
    right: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    border-radius: var(--normal-border-radius);
    transform: translateY(3rem);
    transition: 0.2s ease-in-out;
}

.noti-active .noti__main {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.noti__header {
    height: 13rem;
    background-image: linear-gradient(to top right, rgb(90, 184, 152), white);
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .noti__header p {
        font-size: 1.7rem;
        font-weight: bold;
        text-align: center;
        margin: 0;
    }

.noti__content {
    min-height: 35rem;
    padding: 1rem 1.7rem;
}

    .noti__content a {
        font-size: 1.6rem;
        color: rgb(109, 98, 98);
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        transition: .1s ease-in-out;
    }

    .noti__content svg {
        margin-right: 1rem;
        font-size: 2.2rem;
    }

    .noti__content a:hover {
        color: rgb(44, 143, 182);
        font-weight: 500;
    }

.noti__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

    .noti__footer a {
        font-size: 1.7rem;
        color: gray;
        transition: .2s ease-in-out;
    }

    .noti__footer a:hover {
        color: black;
    }

/* button user info */
.user-info__container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 4rem;
    min-width: 13rem;
}

    .user-info__container .btn-header {
        font-size: var(--header--button-height);
        background-color: var(--header-element-background);
        color: lightgray;
        display: flex;
        justify-content: start;
        padding: 0;
        border: none;
        margin: 0;
        border-radius: 15rem;
    }

.user-info__name {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 1.5rem;
    color: dodgerblue;
}

.user-info__content {
    position: absolute;
    background-image: linear-gradient(to top right, rgb(77, 200, 143), rgb(202, 233, 218));;
    top: var(--header--hide-content-top);
    right: 0;
    width: 35rem;
    padding: 1.5rem 2rem;
    border-radius: var(--normal-border-radius);
    box-shadow: var(--normal-box-shadow);
    visibility: hidden;
    opacity: 0;
    transform: translateX(5rem);
    transition: 0.2s ease-in-out;
}

    .user-info__content p {
        font-size: 1.4rem;
    }

    .user-info__content .btn {
        font-size: 1.3rem;
        font-weight: 500;
        color: white;
        padding: .5rem 1rem;
        float: right;
    }

.user-active {
}

    .user-active > .btn {
    }

    .user-active .user-info__content {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }


/* Container-fluid */
:root {
    /* navbar variable */
    --nav-expand-width: 30rem;
    --nav-collapse-width: 7rem;
    --nav-height: 100vh;
    --nav-second-width: 28rem;
    --nav-background: #14428b;
    --nav-background-1: #169bc0;
    --nav-link-color: white;
    --nav-hover-background: rgba(255, 255, 255, 0.3);
    --nav-hover-link-color: white;
}

.app-main {
    padding: 0;
}

.active-navbar {
}
/* NavMenu */
nav {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: var(--header-height);
    width: var(--nav-collapse-width);
    height: var(--nav-height);
    box-shadow: var(--normal-box-shadow);
    background-color: var(--nav-background);
    overflow: hidden;
    transition: 0.25s ease-in-out;
    z-index: 9;
}

    .active-navbar nav, nav:hover {
        width: var(--nav-expand-width);
    }

.nav__content {
    width: var(--nav-expand-width);
    padding: 1.2rem;
    align-items: flex-start;
}
    /* .nav--content .nav-item > a{
        border-bottom: 1px solid darkblue;
    } */
    .nav__content .navbar-nav {
        width: 100%;
    }
    .nav__content a.nav-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4.7rem;
        /* margin-bottom: 0.5rem; */
        transition: 0.2s;
        color: white;
        font-weight: 500;
        border-radius: var(--normal-border-radius);
    }
    .nav__content .menu-icon{
        width: 4rem;
        height: 4rem;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
    }
    .active .menu-icon{
        transform: rotateZ(90deg)
    }

    .nav__content a.nav-link:hover,
    .active-navbar .active a.nav-link, 
    nav:hover .active a.nav-link{
        background-color: var(--nav-hover-background);
        color: var(--nav-hover-link-color);
    }

    .nav__content .icon {
        width: var(--nav-collapse-width);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -1.2rem;
        font-size: 2.2rem;
        color: white;
        transition: 0.3s;
    }

.active-navbar .icon,
nav:hover .icon{
    margin-right: -1rem;
}
.active .icon,
.active-navbar .icon,
nav:hover .icon {
    color: white;
}
/* .active-navbar .nav--content .nav-item{
    background-color: var(--nav-background-1);
}
.active-navbar .nav--content .nav-item > a{
    border-top: 1px solid darkblue;
    border-bottom: 1px solid darkblue;
} */

/* hide-navbar */
.hide-navbar {
    display: flex;
    width: var(--nav-expand-width);
    height: 0;
    overflow: hidden;
    transition: 0.25s ease-in-out;
}
    .hide-navbar .line {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--nav-collapse-width);
        visibility: hidden;
        opacity: 0;
        transition: 0.2s;
    }
/* .active-navbar .active .hide-navbar,
nav:hover .active .hide-navbar {
    height: auto;
} */
.active-navbar .line,
nav:hover .line {
    visibility: visible;
    opacity: 1;
}

.hide-navbar .line .line__content {
    height: 90%;
    width: 0.23rem;
    border-radius: 0.5rem;
    background-color: lightgray;
}

.hide-navbar .nav-second {
    width: var(--nav-second-width);
    padding-top: 1rem;
}


.hide-navbar a.function-link{
    display: block;
    width: fit-content;
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 0.5rem;
    transition: .2s ease-in-out;
    border-radius: var(--normal-border-radius);
}
.hide-navbar a.function-link:hover, .hide-navbar a.active{
    color: whitesmoke;
    background-color: var(--nav-hover-background);
    font-weight: 500;
}

nav .footer{
    margin-top: auto;
    margin-bottom: 0;
}

/* main */
main {
    width: 100%;
    min-height: 100vh;
    padding-top: var(--header-height);
    padding-left: var(--nav-collapse-width);
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: padding 0.25s;
}

.active-navbar main {
    padding-left: var(--nav-expand-width);
}

.main__inner{
    padding: 2rem 3rem 3rem 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.main__content{
    background-color: white;
    max-width: 1366px;
    padding: 2rem 2rem 3rem 2rem;
    border-radius: var(--normal-border-radius);
    box-shadow: var(--normal-box-shadow);
}
.main__content.w-100{
    max-width: none;
}
.main__content .btn{
    font-size: 1.6rem;
}
.main__title{
    font-size: 2.2rem;
    font-weight: normal;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    color: rgba(13,27,62,0.7);
    border-bottom: 0.2rem solid dodgerblue;
}

.sub-list__message{
    display: none;
    width: 100%;
    min-height: 10rem;
    justify-content: center;
    align-items: center;
}

/* card */
.card{
    --card-border-radius: .3rem;
    --card-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card{
	border: none;
    border-radius: var(--card-border-radius);
    background-color: white;
    box-shadow: var(--card-box-shadow);
    padding: 2rem 1.5rem;
    margin: 1rem 1rem 2rem 1rem;
}

.card-title{
	font-size: 2.5rem;
	margin-bottom: 2rem;
	position: relative;
}
.card-body{

}

/* Responsive */
@media only screen and (max-width: 1366px){
    html {
        font-size: 9px;
    }
}

@media only screen and (max-width: 1160px){
    html{
        font-size: 8px;
    }   

    .active-navbar main {
        padding-left: var(--nav-collapse-width);
    }
}

