* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("/Data/System/Images/galaxy_background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
}

    .login .container {
        max-width: 950px;
        display: flex;
        justify-content: center;
        background-color: white;
        box-shadow: var(--normal-box-shadow);
        border-radius: var(--normal-border-radius);
        padding: 0;
    }

    .login .row {
        width: 100%;
        margin: 0;
    }

        .login .row > div {
            padding: 3rem 2rem;
        }

.login > .container > .row{
    box-shadow: var(--normal-box-shadow);
}

.login-left {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, rgb(75, 134, 190), rgb(140, 200, 255));
}
.login-left img{
    height: auto;
    width: 100%;
}

.login-right {
    /* background-image: linear-gradient(to left, rgb(37, 204, 126), rgb(170, 238, 205)); */
    background-color: white;
    padding: 6rem 2rem 8rem 2rem !important;
    position: relative;
}

.login__main {
    padding: 0 5rem;
}

.login__title {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 5rem;
}

    .login__title .title-1 {
        font-size: 4rem;
        font-weight: bold;
        color: rgb(0, 109, 211);
        margin: 0;
    }

    .login__title .title-2 {
        font-size: 1.7rem;
        color: rgb(12, 104, 128);
        font-weight: 500;
    }

.login__form {

}

    .login__form label {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        font-weight: 500;
        color: rgb(128, 94, 94);
    }

    .login__form input.form-control{
        font-size: 1.8rem;
        height: 4rem;
        width: 100%;
        color: black;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid gray;
        border-radius: 0;
        transition: border .11s ease;
    }
    .login__form input.form-control:focus{
        box-shadow: none;
        border-bottom-width: 2px;
        border-bottom-color: dodgerblue;
    }

[name=txt_Password] {
    padding-right: 4rem;
}

.btn-showpass {
    margin-left: -4rem;
    font-size: 1.5rem;
    width: 4rem;
    height: 4rem;
    text-align: center;
    color: rgb(214, 214, 214);
    border-radius: 50%;
    overflow: hidden;
}

    .btn-showpass:hover, .btn-showpass.active {
        color: rgb(0, 60, 139);
    }

.login__log * {
    cursor: pointer;
    pointer-events: none;
}

#ck_Save{
    cursor: pointer;
}
.form-check-label {
    font-size: 1.6rem!important;
    padding-left: 0.5rem!important;
    cursor: pointer;
    font-weight: normal!important;
}

.login__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .login__button .btn {
        font-size: 1.8rem;
        padding: 0.7rem 2rem;
        transition: .25s ease-in-out;
        border: 0;
        border-radius: 15rem;
        background-color: rgb(0, 113, 158);
    }
    .login__button .btn:hover{
        background-color: rgb(26, 156, 207);
    }

.login__error {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem 2rem 2rem;
    padding-top: 1.4rem;
    font-size: 1.6rem;
    color: red;
}
.login__error p{
    margin: 0;
}